header {
  padding: 2rem;
}

header .input-search {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 2rem;
}

.top-header {
  display: flex;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.top-header .ui.button:not(:last-child) {
  margin-right: 2rem;
}

.dropdown {
  text-align: right;
  margin-right: 2em;
}

.product-row {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.product-row .product-image {
  min-width: 100px;
  max-width: 100px;
}

.product-row .product-price {
  margin-left: auto;
  padding-right: 1rem;
}

.product-row .product-content .product-description {
  color: gray;
}

.product-row .product-content {
  padding: 0.5rem;
}

.product-card {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.product-card .product-element {
  border: 0.1rem solid grey;
  width: 252px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card .product-element .product-image {
  min-width: 250px;
  max-width: 250px;
  margin-bottom: 1rem;
}

.product-card .product-element .product-description {
  text-align: center;
  margin-bottom: 1rem;
}

.product-card .product-element .product-name {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.product-card .product-element .product-price {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.product-card .product-element .ui.button {
  width: 90px;
}

.paging {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

@media screen and (min-width: 640px) {
  .top-header {
    flex-wrap: nowrap;
  }

  header .input-search {
    margin-bottom: 0;
    width: auto;
    margin-right: 2rem;
  }

  .product-row .product-image {
    min-width: 200px;
    max-width: 200px;
  }

  .product-row .product-price {
    font-size: 1.5rem;
  }

  .product-row .product-content .product-name {
    font-size: 1.5rem;
  }

  .products-grid {
    justify-content: start;
  }
}
