.menu {
  display: flex;
  flex-direction: column;
}

.menu a:not(:last-child) {
  margin-right: 4rem;
}

.menu a {
  font-size: 1.5em;
}

header {
  padding: 2rem;
}

header .input-search {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 2rem;
}

.top-header {
  display: flex;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.top-header .ui.button:not(:last-child) {
  margin-right: 2rem;
}

@media screen and (min-width: 640px) {
  .menu {
    flex-direction: row;
  }

  .top-header {
    flex-wrap: nowrap;
  }

  header .input-search {
    margin-bottom: 0;
    width: auto;
    margin-right: 2rem;
  }
}
